@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(35, 33, 53, 0.91);
}

.parallax-card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  gap: 120px;
  transform-style: preserve-3d;
  transform: perspective(9999px);
}

.parallax-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 15%;
  height: 400px;
  box-shadow: rgba(3, 3, 3, 0.323) 0px 0px 20px 10px;
  border-radius: 10px;
  transform-style: preserve-3d;
  transform: perspective(1000px) translateZ(25px);
  pointer-events: all;
}

.parallax-card__front,
.parallax-card__back {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.parallax-card__back {
  transform: rotateX(-180deg);
}

.parallax-card__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  border-radius: 10px;
  pointer-events: all;
  filter: blur(1px) brightness(0.7);
}

.parallax-card__image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -10;
  object-fit: cover;
  pointer-events: all;
  transform: scale(1.4) translateZ(100px);
}

.parallax-card__text {
  position: absolute;
  align-self: center;
  font-size: 32px;
  width: max-content;
  pointer-events: none;
  color: rgb(255, 255, 255);
  text-shadow: 2px 4px 1px black;
}

.parallax-card__text-front {
  transform: translateZ(50px);
}

.parallax-card__text-back {
  transform: rotateX(-180deg) translateZ(50px);
}

.parallax-card__front.parallax-card__hide,
.parallax-card__back.parallax-card__hide {
  display: none;
}
